@import "../../styles/variables";

.container {
  position: relative;
  width: 100%;
  height: 100vh;

  .upperConainer {
    display: flex;
    padding-top: 20px;

    .contect {
      width: 94%;
      text-align: center;
      justify-content: center;
    }
    button {
    }
  }

  .inContainer {
    width: 80%;
    max-height: 80vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background: $white;
    box-shadow: 0 10px 20px $black1;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
    }

    .title {
      font-weight: bold;
      margin-bottom: 20px;
    }

    > div {
      padding: 10px;
      border: 1px solid black;
      border-style: dashed;
      width: 100%;
    }

    .firstStep,
    .secondStep,
    .thirdStep {
      .upload {
        margin-top: 10px;
      }
    }

    .firstStep{
      .email{
        margin-bottom: 10px;
      }
    }

    .thirdStep {
      .password {
        margin-bottom: 10px;
      }
      .title {
        margin-top: 10px;
      }
      .buttons {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
      }
    }
  }

  .card {
    background-color: $plainblack;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    padding: 20px;

    .name {
      font-size: 40px;
    }
    .email {
      font-size: 20px;
    }

    .name,
    .email {
      color: $white;
    }
  }

  .popup {
    width: 800px;
    height: 500px;
    background-color: $white;
    border-radius: 10px;

    .title {
      padding: 10px;
      border-bottom: 1px solid $plainblack;
    }

    .content {
      padding: 10px;

      .keySection {
        margin-bottom: 10px;

        .keytitle {
          font-weight: bold;
        }
      }
    }
  }
}
